
body{
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(180deg,#3498D8 ,#F1C40F);
  color: #333;
  min-height: 110vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
}

h1{
  margin: 0 0 40px 0;
}

.form-container{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

input{
  padding: 20px;
  border-radius: 10px;
  border: none;
  width: 450px;
}

button{
  padding: 20px 32px;
  border-radius: 10px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

#resultado{
  background: rgba(255,255,255,0.8);
  padding: 12px;
  border-radius: 8px;
  width: fit-content;
  max-width: 50%;
}
